footer{
   font-size: 16px !important;
   color: #fff;
   font-weight: 500;
   
}

.f-logo{
   width: 94px;
   height: 30px;
   margin-bottom: 30px;
}

// footer input {
//    border: 1px solid #c2c2c2;
// }


#f-one {
   border-bottom: 1px solid #f5f3f357;
   padding: 100px 0;
}

#f-two{
   padding: 30px;
}
 