 nav{
   width:95% ;
   height: 72px;
   margin: 10px auto;
   border: 1px solid #7f7f7f;
   border-radius: 9px;
 }

 @media screen and (min-width: 1400px) {
   nav {
      width: 70%;
   }
 }

 .logo{
    width: 115px;
    height: 35px;
 }

 