#nav{
  padding: 0;
}

nav{
  height: 72px;
  border: 1px solid #7f7f7f;
  border-radius: 9px;
}

.logo{
  width: 115px;
  height: 35px;
}

header{
  width: 100%;
  padding: 80px 0 0 0;
}

header img{
  max-width:500px;
  max-height: 500px;
}

.headerText {
   color: $highlightTextColor;
   font-weight: 700;
   font-size: 62px;
}