// Features Section Start 
#features{
   margin:0 0 100px 0;
}
.mini-card .image {
   width: 85px;
   height: 85px;
   background-color:  $cardBgColor;
   border-radius: 7px;
   display:flex;
   align-items: center;
   justify-content: center;
} 

// About Us Section
#about{
   background-color: $secondBgColor ;
   padding-top: 100px;
}

.about-image {
   max-width: 600px;
   max-height: 600px;
   margin: auto;
}

.about-card {
   background-color: $primaryBgColor;
   padding: 30px;
   border-radius: 9px;
   img {
      background-color: $cardBgColor;
      max-width: 85px;
      border-radius: 7px;
      margin-bottom: 20px;
   }
   h4{
      color: $highlightTextColor;
   }
}

@media screen and (max-width: 1200px) {
   .about-card {
     max-width:600px;
     margin: auto;
   }
} 

#about .sign{
   width: 100%;
   max-height: 60px;
}

// Our Menu section 
.menu-card {
   border: 2px dashed #f7f7f736;
   border-radius: 9px;
   padding: 32px;
   img{
      border-radius: 7px;
   }
   .star{
      color: $highlightTextColor;
   }
   .price {
      background-color:  $cardBgColor;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}