// Features Section Start 
#features{
   margin:0 0 100px 0;
}
.mini-card .image {
   width: 85px;
   height: 85px;
   background-color: $secondBgColor;
   border-radius: 7px;
   display:flex;
   align-items: center;
   justify-content: center;
} 