// Background Color's.
$primaryBgColor : #08081A;
$secondBgColor: #1a1a34;

// Button Color.
$buttonColor: #e8af49 ;

// Header Text Color's.
$highlightTextColor: #e8af49 ;
$defaultTextColor: #fff;

// Paragraph Text Color. 
$pTextColor:#cacaca;